<mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false" *ngFor="let post of $Posts">
        <mat-expansion-panel-header>
        <mat-panel-title>
        {{post.title}} Post Number: {{post.id}}
        </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor= "let comment of $Comments">
            <div *ngIf="comment.postId == post.id"> {{post.body}} <b>Comment of the post:</b> {{comment.body}}</div>
        </div>
        <br>
        <div>
                <button mat-button-primary (click)="SavePost(post.id)">Save the post</button>
        </div>
        </mat-expansion-panel>
        </mat-accordion>