<p *ngIf="!($FBPosts | async)">loading posts...</p>
<mat-accordion>
<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false" *ngFor="let FBpost of $FBPosts | async">
<mat-expansion-panel-header>
<mat-panel-title>
{{FBpost.title}}
</mat-panel-title>
</mat-expansion-panel-header>
{{FBpost.body}} <button mat-raised-button color="primary" (click) = deletePost(FBpost.id)>Delete</button> 
                <button mat-button (click) = "addLikes()">LIKE {{likes}}</button>
</mat-expansion-panel>
</mat-accordion>
